{% extends "base.html" %}
{% block content %}
<h2>Projekte</h2>
<a href="{{ url_for('project_create') }}" class="btn btn-success mb-3">Neues Projekt erstellen</a>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Projektname</th>
      <th>Beschreibung</th>
      <th>Manager</th>
    </tr>
  </thead>
  <tbody>
    {% for project in projects %}
    <tr>
      <td>{{ project.id }}</td>
      <td>{{ project.name }}</td>
      <td>{{ project.description }}</td>
      <td>{{ project.manager.username if project.manager else 'N/A' }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
q